@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0%;
    padding: 0%;
}


body {
    min-height: 100vh;
    background-image: url(img/imgmainfundo.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.div-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-main {
    font-size: 400%;
    font-family: "Pixelify Sans", sans-serif;
}

.container-conteudo {
    display: flex;
    margin-top: 10vh;
    width: 90vw;
    background-color: goldenrod;
    box-shadow:
        4px 0 0 #000,
        -4px 0 0 #000,
        0 4px 0 #000,
        0 -4px 0 #000,
        8px 8px 0 rgba(0, 0, 0, 0.3);
}

.div-select {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin: 1%;
    padding: 2%;
    height: 200px;
    background-color: #2B2D42;
    box-shadow:
        4px 0 0 #000,
        -4px 0 0 #000,
        0 4px 0 #000,
        0 -4px 0 #000,
        8px 8px 0 rgba(0, 0, 0, 0.3);
}

.div-select-texto {
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
}

h1 {
    font-size: 60px;
    font-family: "Pixelify Sans", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black,
        0px -2px 0 black,
        0px 2px 0 black,
        -2px 0px 0 black,
        2px 0px 0 black;
}


.select-cavalo {
    font-family: "Pixelify Sans", sans-serif;
    width: 70%;
    height: 20%;
    box-shadow:
        4px 0 0 #000,
        -4px 0 0 #000,
        0 4px 0 #000,
        0 -4px 0 #000,
        8px 8px 0 rgba(0, 0, 0, 0.3);
    font-size: 120%;
}

.div-aposta {
    display: flex;
    background-color: #2B2D42;
    width: 70%;
    margin: 1%;
    padding: 2%;
    box-shadow:
        4px 0 0 #000,
        -4px 0 0 #000,
        0 4px 0 #000,
        0 -4px 0 #000,
        8px 8px 0 rgba(0, 0, 0, 0.3);
    align-items: center;
}

.valor-aposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
    margin: 1%;
}

.div-apostar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(133, 0, 0);
    width: 50%;
    box-shadow:
        4px 0 0 #000,
        -4px 0 0 #000,
        0 4px 0 #000,
        0 -4px 0 #000,
        8px 8px 0 rgba(0, 0, 0, 0.3);
    height: 90%;
    margin: 1%;
    padding: 2%;
}


.titulo-valor-aposta {
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
}



.input-aposta {
    font-family: "Pixelify Sans", sans-serif;
    width: 100%;
    box-shadow:
        4px 0 0 #000,
        -4px 0 0 #000,
        0 4px 0 #000,
        0 -4px 0 #000,
        8px 8px 0 rgba(0, 0, 0, 0.3);
    font-size: 120%;
    padding: 1%;
}

.botao-valor-aposta {
    font-family: "Pixelify Sans", sans-serif;
    box-shadow:
        4px 0 0 #000,
        -4px 0 0 #000,
        0 4px 0 #000,
        0 -4px 0 #000,
        8px 8px 0 rgba(0, 0, 0, 0.3);
    font-size: 120%;
    padding: 1%;
    margin: 2%;
}

.botao-apostar {
    font-family: "Pixelify Sans", sans-serif;
    width: 50%;
    box-shadow:
        4px 0 0 #000,
        -4px 0 0 #000,
        0 4px 0 #000,
        0 -4px 0 #000,
        8px 8px 0 rgba(0, 0, 0, 0.3);
    font-size: 120%;
    padding: 16px 32px 16px 32px;
    text-align: center;
    align-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.botao-apostar:hover{
    scale: 1.025;
    background-color: rgb(210, 189, 3);
}



.botao-ranking {
    font-family: "Pixelify Sans", sans-serif;
    box-shadow:
        4px 0 0 #000,
        -4px 0 0 #000,
        0 4px 0 #000,
        0 -4px 0 #000,
        8px 8px 0 rgba(0, 0, 0, 0.3);
    font-size: 120%;
    padding: 5%;
    margin: 5%;
}

.div-resposta {
    font-family: "Pixelify Sans", sans-serif;
}


.icones img {
    width: 100px;
    height: 100px;
}

#nomes img {
    width: 240px;
    height: auto;
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 120%;
}


.div_cards {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 32px;
}

.botao_de_inserir {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    margin: 2%;
    ;

    button {
        width: 30%;
        height: 5vh;
    }
}

.div_inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1000px;

    padding: 16px 32px;
    gap: 32px;

    background-color: #2B2D42;

    box-shadow:
        4px 0 0 #000,
        -4px 0 0 #000,
        0 4px 0 #000,
        0 -4px 0 #000,
        8px 8px 0 rgba(0,0,0,.3);

    box-sizing: border-box;
}


.div_inputs input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.colunar{
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-width: 0;
}

#pista{
    width: 1200px;
    height: 600px;
    background-image: url("./img/pista-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


    padding-top: 90px;
    padding-bottom: 70px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

#div_msg{
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
}

.raia{
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.cavalo{
    width: 100px;
    transition: transform 1s linear;
}


.faixa{
    height: 100px;
    position: relative;
}